body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
}
.top {
    margin-bottom: 15px;
}
.buttondiv {
    margin-top: 10px;
}
.messagebox{
    position:absolute;
    width:100px;
    right:49%;
    top:70px;
    border:1px solid #c93;
    background:#ffc;
    padding:5px;
    -webkit-border-radius: 8px;
    border-radius: 8px;-webkit-box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
}
.messageboxok{
    position:absolute;
    width:auto;
    right:49%;
    top:70px;
    border:1px solid #349534;
    background:#C9FFCA;
    padding:5px;
    font-weight:bold;
    color:#008000;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
}
.messageboxerror{
    position:absolute;
    width:auto;
    right:44%;
    top:70px;
    border:1px solid #CC0000;
    background:#F7CBCA;
    padding:5px;
    font-weight:bold;
    color:#CC0000;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, .4);
}